file 
{
  white-space: pre;
  font-weight: bold;
  font-family: monospace;
  line-height: 0px;
}

C
{
  color: blue;
  cursor: not-allowed;
}

n 
{
  font-weight: normal;
  cursor: pointer;
}

cnt
{
  color: red;
}

include
{
  color: green;
  font-weight: bold;
}

.menu-button
{
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.menu-button:hover, .menu-button:focus 
{
  background-color: #2980B9;
}

.menu
{
 display: none; 
 border: solid 1px #dfdfdf; 
 min-width: 160px; 
 background-color: #fff; 
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

