#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@ 

override_dh_auto_install:
	./scripts/debian/install.pl 
	cd perl && make install 
	cd python3 && make install
	./scripts/debian/cleanInstall.pl


